#python cache
_pycache_/
*.pyc

# Virtual environment
venv/
env/

# Dataset (large files)
dataset/

# Model files
*.h5
*.pkl

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
